* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(45deg, #2881b4 50%, #6fb6d5 50%);
  color: #fff;
  font-family: sans-serif;
  user-select: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container h1.text-center {
  color: #333;
}

.container .btns .btn {
  display: block;
  margin: 10px;
  transition: 0.3s;
  position: relative;
  left: -10em;
  cursor: auto;
}

.container .btns .btn:hover {
  transform: scale(1.6);
  transition: 0.3s;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 29em;
  align-content: center;
  justify-content: center;
}

.boxes .box {
  width: 100px;
  height: 100px;
  display: inline-flex;
  margin: 2px;
  transition: 0.3s;
  cursor: pointer;
}

.boxes .box:hover {
  transition: 0.3s;
  transform: scale(0.8);
}

.boxes .box:active {
  transition: 0.2s;
  transform: scale(1.8);
  opacity: 0.8;
}

.boxes .box.active {
  opacity: 0.9;
}
